  
  /* login form styles */
  .entry__form {
    max-width: 600px;
    display: flex;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .entry__form__lowerside {
    flex-basis: 40%;
  }
  
  .entry__form__upperside {
    flex-basis: 80%;
    flex-direction: column;
    display: flex;

    /* justify-content: space-between; */
  }

  .entry__form__container {
    border-radius: 10px;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;    
  }
  
  .entry__form__container__div 
  {
    flex-basis: 33%;
  }

  .entry__form__rightside {
    margin-left: 80px;
    vertical-align: middle;
    text-align: center;
  }

  .entry__form__input-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 16px;
    height: 80px;
  }
  .entry__form__input-group__child {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
  }

  .entry__form__label {
    margin-left: 20px;
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 8px;
    vertical-align: middle;

  }
  
  .entry__form__input {
    margin-left: 20px;
    margin-top: 6px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 22px;
    height: 50px;
    vertical-align: middle;
    width: 250px;
    
  }
  
  .entry__form__error {
    color: red;
    margin-top: 8px;
    font-size: 14px;
  }
  
  .entry__form__button {
    background-color: #333;
    color: white;
    border: none;
    /* padding: 8px 8px; */
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 8px;
    margin-left: 10px;

  }
  
  .entry__form__success {
    color: green;
    font-size: 24px;
    margin-top: 16px;
  }
  
  .entry__react-switch {
    vertical-align: middle;
    margin-left: 4px;
  }

#c1 {
  width: 20%;
}
#c2 {
  width: 33%;
}
#c3 {
  width: 10%;
  vertical-align: middle;
}
#c4 {
  width: 80%;
  vertical-align: middle;
}

.entry__button {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.entry__button:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.entry__lowerside__div {
  margin-left: 10px;
  margin-bottom: 15px;
}

.entry__rightside__div {
  margin-right: 10px;
}