  .my-list {
    padding: 20px;
    height: 100%; /* Set a fixed height for the container */
    overflow-y: scroll; /* Add overflow-y: scroll; to make the list scrollable */
  }
  
  .my-list h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .my-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .my-list li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .my-list li:last-child {
    border-bottom: none;
  }
  

  .table-container {
    height: calc(100vh - 150px); /* Set a fixed height for the container */
    overflow: auto; /* Add overflow: auto; to make the container scrollable */
    min-width: 350px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .td {
    border: 0px solid #ddd;
    padding: 0px;
  }
  
  .td:first-child {
    width: 10px;
    text-align: center;
  }
  
  .td:first-child img {
    display: block;
    margin: 0 auto;
  }
  
  .td:last-child {
    text-align: left;
  }
  
  .button {
    background-color: #fff;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 12px;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 18px;
  }
  
  .button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .button:focus {
    outline: none;
  }